In [38]:
# import modules
import pandas as pd
import os
import sqlite3
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

In [39]:
csv_file_path ="Data_csv/heart.csv"

In [40]:
def create_sqlite_database(csv_file_path, db_file_path, table_name):
    # Read data from the CSV file using pandas
    df = pd.read_csv(csv_file_path)

    # Connect to the SQLite database or create a new one if it doesn't exist
    conn = sqlite3.connect(db_file_path)

    # Write the DataFrame to the SQLite database as a new table
    df.to_sql(table_name, conn, if_exists='replace', index=False)

    # Close the connection
    conn.close()

if __name__ == "__main__":
    # Get the absolute path of the current directory and the Resources directory
    current_dir = os.path.dirname(os.path.abspath(__name__))
    resources_dir = os.path.join(current_dir, "../Data_csv") #path where your file is

    # File paths for CSV and SQLite database
    csv_file_path = os.path.join(resources_dir, "heart.csv") # file name which you want to read 
    db_file_path = os.path.join(current_dir, "Heart.sqlite") # file name give it which you are creating
    table_name = "table1" # name of the table 

    create_sqlite_database(csv_file_path, db_file_path, table_name)

In [41]:
#Establish connection to SQLite Database

conn = sqlite3.connect(db_file_path)

query = "SELECT * FROM table1"

# cursor.execute(query)
# rows = cursor.fetchall()
# for row in rows:
#     print(row)

# Read data from the database and store it in a DataFrame
heart_df = pd.read_sql_query(query, conn)
heart_df.head()

conn.close()

In [31]:
heart_df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [42]:
# checking if the data is balanced or not
heart_df.output.value_counts()

1    165
0    138
Name: output, dtype: int64

In [43]:
# Split the data into X (features) and y (target)
# The y variable should focus on the target column
y = heart_df['output']

# The X variable should include all features except the target
X = heart_df.drop(columns=['output'])

In [44]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=1 ,stratify=y)

In [45]:

# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression(random_state=1)

# Fit and save the logistic regression model using the training data
lr_model = logistic_regression_model.fit(X_train, y_train)

c:\ProgramData\Anaconda3\envs\dev\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [46]:
# Make a prediction using the testing data
testing_predictions = logistic_regression_model.predict(X_test)

In [47]:
# Print the balanced_accuracy score of the model
balanced_accuracy_score_of_model =balanced_accuracy_score(y_test,testing_predictions)
balanced_accuracy_score_of_model

0.851219512195122

In [49]:
# Generate a confusion matrix for the model
testing_matrix = confusion_matrix(y_test,testing_predictions)

# Print the confusion matrix for the training data
print(testing_matrix)

[[28  7]
 [ 4 37]]

In [37]:
# Print the classification report for the model
logistic_report = classification_report(y_test, testing_predictions)
print(logistic_report)

              precision    recall  f1-score   support

           0       0.88      0.80      0.84        35
           1       0.84      0.90      0.87        41

    accuracy                           0.86        76
   macro avg       0.86      0.85      0.85        76
weighted avg       0.86      0.86      0.85        76